/* body{ */
/*   display: grid; */
/*   place-items: center; */
/*   height: 100vh; */
/*   margin: 0; */
/* } */
.Opts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background-color: rgba(191, 191, 191, 0.1); /* Fundo translúcido */
}
