/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Background global */
body {
  background-color: #393939;
  color: #A0A0A0;
  font-family: 'Fira Sans';
}

/* Definindo a estrutura principal usando Grid */
.Global {
  display: grid;
  grid-template-rows: auto 1fr; /* Cabeçalho seguido pelo conteúdo */
  min-height: 100vh; /* Garante que o layout ocupe toda a altura da tela */
}

/* Estilos para a div TopHead */
.TopHead {
  border-radius: 0px 0px 15px 15px; /* Canto arredondado na parte inferior */
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  place-items: center;
  background-color: rgba(191, 191, 191, 0.1); /* Fundo translúcido */
  padding: 10px; /* Para espaçamento interno */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Garante que fique sempre acima do conteúdo */
}

/* Alinhamento para elementos dentro do TopHead */
.TopHead .Sandwish {
  justify-self: start;
  margin-left: 10px;
}

.TopHead .Name {
  justify-self: center;
  margin: 0;
}

.TopHead .User {
  justify-self: end;
  margin-right: 10px;
}

/* Conteúdo centralizado abaixo do TopHead */
.ContentWrapper {
  margin-top: 60px; /* Espaço para o TopHead fixo */
  display: grid;
  place-items: center; /* Centraliza o conteúdo */
  padding: 20px;
}

