{% extends "base.html" %}
{% block title %}(:DayPlanner:){% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{{ url_for('dayplanner.static', filename='css/style.css') }}">
{% endblock %}
{% block content %}
    <div class="layout">
	<div class="day-planner">
	    <div class="day-planner__action">
		<div class="day-planner__nae">
		    <h1>DAY PLANNER</h1>
		</div>
		<div class="day-planner__add-button">
		    <h1>+</h1>
		</div>
	    </div>
	    <div class="day-planner__rules">
		<div class="rule"></div>
		<div class="numbers">
		    <div class="number-mark">
			<div class="mark"></div>
			<div class="label"><h2>0</h2></div>
		    </div>
		    <div class="number-mark">
			<div class="mark"></div>
			<div class="label"><h2>12</h2></div>
		    </div>
		    <div class="number-mark">
			<div class="mark"></div>
			<div class="label"><h2>24</h2></div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="task-view">
	    <!-- <div class="task-view__list">
		 <div class="task-view__title">
		 <h1>TASKS</h1>
		 </div>
		 <div class="task-view__todos">
		 </div>
		 </div>
		 <div class="task-view__divd"></div>
		 <div class="task-view__graph">
		 <div class="task-view__title">
		 <h1>GRAPH</h1>
		 </div>
		 <div class="task-view__todos">
		 </div>
		 </div> -->
	</div>
    </div>
{% endblock %}

