<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default{% endblock %}</title>
    <!-- Referenciando o arquivo CSS base -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <!-- bloco para sobrescrever css dentro dos blueprints -->
    {% block custom_css %}
    {% endblock %}
    
</head>
<body>
    <div class="TopHead">
	<h2 class="Sandwish">|||</h2>
	<h1 class="Name">MezPlanner</h1>
	<h2 class="User">User</h2>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
